{{- if .Values.orchestrator.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: orchestrator
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: orchestrator
  ports:
    - port: {{ .Values.orchestrator.port }}
      targetPort: {{ .Values.orchestrator.port }}
      name: http
{{- end }}
